.type, .gradient{
    display: inline-block;
}
.type {
width: 300px;


}
.gradient {
    width: 400px;
    height: 50px;
}
.gradient_one{
    background: linear-gradient(90deg, #291565, #dbfdf5);
}
.gradient_two{background: linear-gradient(90deg, #081822, #bef6f3);

}
.gradient_three{background: linear-gradient(90deg, #2b4a85, #dcfdf5);}
.gradient_four{background: linear-gradient(90deg, #445477, #eff2df);}
.gradient_five{background: linear-gradient(90deg, #454d6a, #ecfcf2);}
.gradient_six{background: linear-gradient(90deg, #503352, #aac8f4);}
.gradient_seven{background: linear-gradient(90deg, #264111, #ebeed4);}
.gradient_eight{background: linear-gradient(90deg, #082f31, #ccf0ce);}
.gradient_nine{background: linear-gradient(90deg, #0d2003, #ccdec3);}
.gradient_ten{background: linear-gradient(90deg, #0c2123, #f8f9ca);}
.gradient_eleven{background: linear-gradient(90deg, #1f3413, #e4e7b4);}
.gradient_twelve{background: linear-gradient(90deg, #083817, #d2f6e9);}
.gradient_thirteen{background: linear-gradient(90deg, #dc9835, #faf9c8);}
.gradient_fourteen{background: linear-gradient(90deg, #5c040a, #f9fad5);}
.gradient_fifteen{background: linear-gradient(90deg, #592546, #fafac7);}
.gradient_sixteen{background: linear-gradient(90deg, #3f3435, #e5e7dc);}
.gradient_seventeen{background: linear-gradient(90deg, #241010, #efe7c9);}
.gradient_eighteen{background: linear-gradient(90deg, #330807, #f8f5b3);}
